/* general */
/**********************/

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    font-size: 16px;
    font-family: 'Concert One', cursive;
}

a {
    color: #176087;
}

a:hover {
    color: #53A2BE;
}

.btn {
    background-color: #176087;
    border: none;
    padding: 0.2em 1em;
    color: #E9F0F4;
    cursor: pointer;
}

section {
    width: 60%;
    margin: auto;
    margin-top: 3.4em;
}

.top-social-icons {
    height: 60px;
    width: 60px;
}

/* header */
/**********************/

header {
    background-color: #132E32;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

#logo {
    height: 70px;
    width: 160px;
}

nav {
    display: flex;
}

nav a {
    margin-left: 1.3em;
}

.top-nav-links {
    color: #E9F0F4;
    font-size: 1.4em;
    align-self: center;
}

.top-nav-links:hover {
    color: #53A2BE;
}

#mini-header {
    background-color:#E9F0F4;
    text-align: center;
    height: 30px;
}

#mini-header p {
    line-height: 30px;
}

/* top section */
/**********************/

#top-section-links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.6em;
}

#categories-links a {
    margin-right: 1.4em;
    font-size: 1.15em;
}

#login-links a {
    margin-left: 1.4em;
    font-size: 1.15em;
}

.banner {
    height: 50vh;
    background: url(assets/banner.jpeg) center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

#banner-content {
    margin-top: 2em;
}

#banner-content h2 {
    color: #53A2BE;
    font-size: 1.5em;
}

#banner-content form {
    text-align: center;
    margin-top: 3em;
}

.input {
    border: 1px solid #53A2BE;
    padding: 0.2em 1em;
}

.card-container {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#top-left-mini {
    flex-basis: 60%;
    height: 40vh;
    background: url(assets/00intro2.jpg) center no-repeat;
    background-size: cover;
}

#top-right-mini {
    flex-basis: 35%;
    height: 40vh;
    background: url(assets/bundle2.jpg) center no-repeat;
    background-size: cover;
}

.bottom-minis {
    height: 40vh;
    flex-basis: 47%;
}

#bottom-left {
    background: url(assets/bundle.jpg) center no-repeat;
    background-size: cover;
}

#bottom-right {
    background: url(assets/pack4-header.jpg) center no-repeat;
    background-size: cover;
}

/* featured section */
/**********************/

.bar-heading {
    text-align: center;
    margin-bottom: 2.5em;
}

.bar-heading h1 {
    font-size: 2em;
    text-transform: uppercase;
    border-top: 1px solid #0A2239;
    border-bottom: 1px solid #0A2239;
}

.sticker-container {
    position: relative;
    background: #0A2239;
    margin: 2em 0;
}

.sticker-container * {
    box-sizing: border-box;
}

.sticker-container:nth-child(odd) {
    width: 45%;
    float: left;
}

.sticker-container:nth-child(even) {
    width: 45%;
    float: right;
}

.sticker-container img {
    width: 100%;
}

.sticker-container:hover img {
    opacity: 0.3;
    filter: grayscale(100%);
}

.sticker-container a {
    position: absolute;
    top: 40%;
    left:50%;
    color: #E9F0F4;
    font-size: 1.5em;
}

.sticker-container a:hover {
    color: #53A2BE;
}

.sticker-container p {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #E9F0F4;
    font-size: 1.2em;
}

.sticker-container p span {
    text-decoration: line-through;
}

.sticker-container input {
    position: absolute;
    top: 60%;
    left: 50%;
}

.sticker-container input#feature-btn {
    background: #53A2BE;
}

.sticker-container input#feature-btn:hover {
    background: #176087;
}

.sticker-container * {
    transition: all 0.35s ease-in-out;
}

.sticker-container a {
    transform: translate(-50%, -50%) scale(0);
    transition: transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.sticker-container:hover a {
    transform: translate(-50%, -50%) scale(1);
    transition: transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.sticker-container p {
    transform: translate(-50%, -50%) scale(0);
    transition: transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.sticker-container:hover p {
    transform: translate(-50%, -50%) scale(1);
    transition: transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.sticker-container input {
    transform: translate(-50%, -50%) scale(0);
    transition: transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.sticker-container:hover input {
    transform: translate(-50%, -50%) scale(1);
    transition: transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* .sticker-grid-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-height: 2520px;
    height: 2520px;
}

div.sticker-container {
    position: relative;
    float: left;
    overflow: hidden;
    min-width: 200px;
    max-width: 630px;
    width: 100%;
    background: #000;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

div.sticker-container * {
    box-sizing: border-box;
}

div.sticker-container img {
    max-width: 100%;
    vertical-align: center;
    height: 630px;
}

div.sticker-container img {
    position: absolute;
} */
/* 
.sticker-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.sticker-container {
    height: 30vh;
    background-color: #132E32;
    margin-bottom: 2em;
}

div.sticker-container:hover img {
    opacity: 0.3;
    filter: grayscale(100%);
}

.sticker-container.img {
    transform: scale(0);
}

.sticker {
    height: 100%;
} */

/* .sticker:hover {
    opacity: 0.3;
    filter: greyscale(100%);
} */

/* newsletter */
/**********************/

.newsletter {
    background-color: #132E32;
    height: 100px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2.5em;
    clear: both;
}

.newsletter div {
    align-self: center;
}

.newsletter p {
    color: #E9F0F4;
}

.newsletter form {
    align-self: center;
}

/* footer */
/**********************/

.container {
    width: 60%;
}

footer {
    background-color: #0A2239;
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.copy {
    float: left;
}

.copy nav {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}

footer p {
    color: #E9F0F4;
}

.social {
    float: right;
}

.social img {
    margin-left: 1.2em;
}

.social form {
    margin-top: 1.2em;
}